<ng-container *ngIf="dataSource !== undefined">
  <table *ngIf="dataSource.length > 0; else noData" mat-table [dataSource]="dataSource"
    class="mat-elevation-z1 full-width-table">

    <!-- Mot -->
    <ng-container matColumnDef="word">
      <th mat-header-cell *matHeaderCellDef> Mot </th>
      <td mat-cell *matCellDef="let element"> {{ element.word }} </td>
    </ng-container>

    <!-- Langue -->
    <ng-container matColumnDef="language">
      <th mat-header-cell *matHeaderCellDef> L </th>
      <td mat-cell *matCellDef="let element"> {{ element.language=='fr'?'🇫🇷' : '🇬🇧' }} </td>
    </ng-container>

    <!-- Thème-->
    <ng-container matColumnDef="theme">
      <th mat-header-cell *matHeaderCellDef> Thème </th>
      <td mat-cell *matCellDef="let el">
        <span class="theme-badge" [style.backgroundColor]="getThemeColor(el.themeId)"
          [title]="getThemeName(el.themeId)">
          {{ getThemeName(el.themeId).slice(0,1) }}
        </span>
      </td>
    </ng-container>

    <!-- Synonymes -->
    <ng-container matColumnDef="synonyms">
      <th mat-header-cell *matHeaderCellDef> Synonyme(s) </th>
      <td mat-cell *matCellDef="let element"> {{ getSynonyms(element) }} </td>
    </ng-container>

    <!-- Traductions -->
    <ng-container matColumnDef="translations">
      <th mat-header-cell *matHeaderCellDef> Traduction(s) </th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngFor="let traduc of getTranslationList(element); let i = index">
          <span class="translation-item">{{ traduc }}
            <span aria-label="Ctrl+C" (click)="copyWord(traduc)">
              <mat-icon class="copy-icon" fontIcon="content_copy"></mat-icon>
            </span></span>
          <span *ngIf="i < getTranslationList(element).length - 1">-</span>
        </ng-container>

        <span *ngIf="getTranslationList(element).length === 0">-</span>
      </td>
    </ng-container>

    <!-- Langue(s) des traductions -->
    <ng-container matColumnDef="translationLanguages">
      <th mat-header-cell *matHeaderCellDef> L </th>
      <td mat-cell *matCellDef="let element"> {{ getTranslationLanguages(element)=='fr'?'🇫🇷' : '🇬🇧' }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns" class="header-row"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <ng-template #noData>
    <div class="no-data">
      <mat-icon aria-hidden="true">sentiment_very_dissatisfied</mat-icon>
      {{getNoDataText()}}
    </div>
  </ng-template>
</ng-container>
