.remaining-query {
  padding: .2rem;
  font-size: .9rem;
  color: #333;
  text-align: center;
  background-color: rgba(220,220,220,.6);

  .subscribe-link {
    color: #007bff;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}
