<div class="login-wrapper">
  <mat-card class="login-card">
    <mat-card-title>
      <h2>{{ labels[currentLanguage].login }}</h2>
    </mat-card-title>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>{{ labels[currentLanguage].username }}</mat-label>
        <input matInput formControlName="username" required>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ labels[currentLanguage].password }}</mat-label>
        <input matInput type="password" formControlName="password" required>
      </mat-form-field>
      <div class="button-container">
        <button mat-raised-button color="primary" type="submit" [disabled]="loading">
          <mat-icon>how_to_reg</mat-icon> {{ labels[currentLanguage].login }}
        </button>
      </div>
      <div class="button-container">
        <button mat-raised-button color="primary" type="submit" [disabled]="loading"
          (click)="loginForm.patchValue({ username: 'guest', password: 'Fedora1*' })">
          <mat-icon>person_outline</mat-icon> {{ labels[currentLanguage].guest }}
        </button>
      </div>

      <p class="error" *ngIf="errorMessage">{{ labels[currentLanguage].credentialErrorMessage }}</p>
    </form>
  </mat-card>
</div>
