<mat-toolbar color="primary">
  <button mat-icon-button>
    <mat-icon>home</mat-icon>
  </button>
  <span class="spacer"></span>
  <ng-container *ngIf="(languageService.language$ | async) as currentLanguage">
    <nav *ngIf="!isHomePage()">
      <a mat-button routerLink="/theme">{{ labels[currentLanguage].theme }}</a>
      <a mat-button routerLink="/mot">{{ labels[currentLanguage].mot }}</a>
      <a mat-button routerLink="/database">{{ labels[currentLanguage].database }}</a>
    </nav>
    <button mat-button (click)="toggleLanguage()" class="flag">
      {{ currentLanguage == 'fr' ? '🇫🇷' : '🇬🇧' }}
    </button>
    <button mat-icon-button (click)="isHomePage() ? goToLogin() : logout()">
      <mat-icon *ngIf="isHomePage()" [title]="labels[currentLanguage].login">login</mat-icon>
      <mat-icon *ngIf="!isHomePage()" [title]="labels[currentLanguage].logout">logout</mat-icon>
    </button>
  </ng-container>
</mat-toolbar>
